.InputContainer {
    display: flex;
    padding-top: 10px;
}

.InputDiv {
    flex: 5;
}

.Input {
    height: 30px;
    width: 100%;
    outline-color: #eee;
}

.NotInputDivs {
    flex: 1;
}

.Missing {
    flex: 1;
}

.NotMissing {
    flex: 1;
    margin-bottom: 25px;
}

.Missing p {
    margin: 5px;
    color: red;
}
